<html>
    <head>
        <title>Eventos</title>
        <link rel="stylesheet" href="/home/home.css" />
        <link rel="stylesheet" href="/dropdown.css" />
    </head>
    <body>

        {{>header}}

        <div class="event-container">

            <h1>Eventos</h1>

            <form action="/home" method="post">

                <div id="filters">
                    <fieldset>
                        <legend>Pesquisa de eventos</legend>
                        <div class="row">
                            <div>
                                <label for="src_nome">Nome:</label><br>
                                <input type="text" id="src_nome" name="src_nome" value="">
                            </div>
                            <div>
                                <label for="src_data_ini">Data inicial:</label><br>
                                <input type="date" id="src_data_ini" name="src_data_ini" value="">
                            </div>
                            <div>
                                <label for="src_data_fin">Data final:</label><br>
                                <input type="date" id="src_data_fin" name="src_data_fin" value="">
                            </div>
                            <div>
                                <label for="src_ativo">Ativo?</label><br>
                                <select id="src_ativo" name="src_ativo">
                                    <option value="">...</option>
                                    <option value="1">Sim</option>
                                    <option value="0">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <button id="btnsearch" class="btn-primary"><i class="fa fa-search"></i> Pesquisar</button>
                        </div>
                    </fieldset>
                </div>
            </form>

            <button id="register" class="btn-primary"><i class="fa fa-plus"></i> Cadastrar</button>

            <table id="events">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Ativo</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {{#each eventos}}
                    <tr>
                        <td>{{this.nome}}</td>
                        <td>{{dataPtBr this.data}}</td>
                        <td style="color: {{#if this.ativo}}green; {{else}}red; {{/if}}">
                        {{#if this.ativo}} &#10004; {{else}} &#10008; {{/if}}
                        </td>
                        <td>[...acoes]</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>  
        
        </div>
        
        <!-- The Modal -->
        <div id="modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
            <span class="close">&times;</span>
                <!-- Content -->
                
                <form id="form">
                    <fieldset>
                    <legend>Cadastrar evento</legend>
                        <span class="error"></span><br>
                        
                        <label for="nome">Nome:</label><br>
                        <input type="text" id="nome" name="nome" value=""><br><br>
                        
                        <label for="data">Data:</label><br>
                        <input type="date" id="data" name="data" value=""><br><br>
                        
                        <label for="ativo">Ativo:</label><br>
                        <input type="checkbox" id="ativo" name="ativo" value=""><br><br>

                        <input type="submit" id="save" value="Salvar" class="btn-primary">
                    </fieldset>
                </form> 
                
                <!-- ./Content -->
            </div>

        </div>
    
    </body>
</html>
<script src="/home/home.js" type="module"></script>
