<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Olá, {{user.name}}</h1>
    <h2>{{message}}</h2>

    <img src="nest.png" alt="nest-js" width="140" height="105">

    <div>
    {{#if (not empty user.email) }}
        Sem email
        Bem vindo {{#bold}}administrador{{/bold}}
    {{else}}
        Bem vindo usuário
    {{/if}}
    </div>

    <ul>
        {{#each itens}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <form action="/" method="post">
        <input type="text" name="item">
        <button>Salvar</button>
    </form>

    <form action="/sair" method="post">
        <a href="#" onclick="event.preventDefault(); document.forms[1].submit()">Sair</a>
    </form>
    
</body>
</html>
<script src="js/index.js"></script>