@import url("../theme.css");

/* Table filters */
#filters {
  width: 100%;
  margin: 20px 0;
}
#filters fieldset {
  border-radius: 5px;
}
#filters .row {
  display: flex; 
  /* justify-content: space-between; */
  gap: 50px;
  padding: 10px;
}
#register { float: right; margin-bottom: 20px;}

/* Table of data */
#events {
  width: 100%;
  border: 1px solid #333; 
  border-radius: 5px;
  margin: 20px 0;
  border-spacing: 0px;
}
#events td, 
#events th {
  border: 1px solid #333; 
  padding: 10px 20px;
}
#events th {
  background-color: lightgray; 
  padding: 10px 20px;
}
#events th:first-child { min-width: 200px; }
#events th:nth-child(2) { min-width: 100px;}
#events th:last-child { width: 20px; }

.event-container h1 { color: crimson; margin: 20px 0; }
.event-container { margin: 20px; }